/* fonts source */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 226);
    margin: 0;
    padding: 0px 0px 0px 0px;
}

header {
    background-color: #001FFF;
    padding-top: 20px;
    text-align: center;
    color: white;
}

.container {
    display: flex;
}

.sidebar {
    background-color: #333;
    padding: 15px;
    color: white;
    width: 200px;
    height: 150vh;
    box-sizing: border-box;
}

.sidebar a,
.sidebar button {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #333;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.sidebar a:hover,
.sidebar button:hover {
    background-color: #02b5b2;
}

body.dark-mode {
    background-color: #000;
    color: #fff;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.main-content .main-image {
    max-width: 100%;
    border-radius: 20px;
}

.footer {
    background-color: #001FFF;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 40px;
    margin-top: 0px;
    font-family: "Montserrat", sans-serif;
}

/* card container */
.coffee-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* coffees listed in the page */
.coffee-item {
    width: 150px;
    margin: 10px;
    text-align: center;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000;
}

/* toggling background color */
body.dark-mode .coffee-item {
    color: #696868;
}


/* coffee image sizes */
.coffee-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* add to cart button style */
.add-to-cart-button {
    background-color: #02b5b2;
    color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
}

.add-to-cart-button:hover {
    background-color: #005555;
}

@media only screen and (max-width: 620px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
    }
}
